{
  "extends": [
    "arnellebalane"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "function-paren-newline": "off"
  }
}
